# Programming for Data Science 2022
## Homework Assigment One

Homework activities aim, not only, at testing your ability to put into practice the concepts you have learned during the Lectures and Labs, but also your ability to explore the Python documentation as a resource. 

Above all, it is an opportunity for you to challenge yourself and practice. If you are having difficulties with the assignment reach out for support.

The Homework Assigment One is divided into **three parts**:
1. Explore the core building blocks of programming, focusing in variables, data structures, and their manipulation;
2. Explore data loading and analysis using the core elements of Python, without fancy third-party libraries;
3. Explore functional programming by defining different functions and operating with the map() and filter().

Your submission will be graded according to the following guidelines:
1. Execution (does your program does what is asked from the exercise?
2. Objectivity (are you using the adequate libraries? are you using a library ... );
3. Readibility of your code (that includes comments, naming of variables, supporting text, etc ...).

This assignment is to be done in groups of two, groups that are caught cheating will obtain a score of 0 points. \

The Homeworking Assignment One is worth **20%** of your final grade.

The submission package should correspond to a .zip archive (.rar files are not acceptable) with the following files:
1. Jupyter Notebook with the output of all the cells;
2. PDF/HTML of your Jupyter Notebook;
3. All text or .csv files exported as part of the exercises.

#### Important Notes: 
- **You are ONLY allowed to use any library from the Python STL (see here https://docs.python.org/3/library/).**
- **Comment your code properly, which includes naming your variables in a meaningful manner. Badly documented code will be penalized.**</b>
- **Submissions in non .zip format will be penalize with 2 points.**

Submission is done through the respective Moodle activity.\
Deadline is **2022-10-02**, a Sunday, at 23:59.\
A penality of 1 point per day late will be applied to late deliveries.

## Group Registration

Edit this cell with the information of the authors of this submission.

|      |     Student Name     |     Student ID     | 
|---   |         ---          |           ---          |
| 1    |      Carolina Mira   |       20220553         | 
| 2    |      Mariana Almeida |       20220381         |

# <span style="color:brown"> Part 1 -  Variable Declaration and Manipulation </span> 

## Exercise I - of Lists and Random numbers

**Q**: Declare a variable X that stores a list of 100 integers randomly sampled between -25 and 25.<br>
Note: You are not allowed to use Numpy or Scipy.

In [8]:
import random

X = []
for i in range(100):
    X.append(random.randint(-25, 25)) # In this method, both number are included
print(X)

[-24, 23, -15, 13, -11, 0, 6, -18, -7, -22, 3, 10, -24, 13, -25, 4, 11, -23, -21, -11, -9, -1, -13, -22, -1, 19, -24, -5, -21, 24, -9, 11, 10, 2, 18, -4, -18, -10, 16, 17, 11, 5, 25, -17, -3, -12, -23, 18, -11, 5, -17, -5, -6, 0, 22, -11, -2, 12, 21, -2, 20, -16, -2, 16, -8, 5, -25, -19, 0, 16, -11, 0, 10, 1, -12, 5, 25, 24, -18, -23, -20, -14, 10, -8, 1, -25, 17, -25, -8, -24, 22, 22, -25, 17, -19, 9, 22, -5, -17, -12]

In [9]:
# Let's check if its correct

print('How many numbers are in this list? ', len(X))
print('The maximum value is: ', max(X))
print('The minumum value is: ', min(X))

How many numbers are in this list?  100
The maximum value is:  25
The minumum value is:  -25

**Q**: How many odd numbers are in the list X? Check if the numbers that are even are exactly the same as the number of odd numbers, else discard the list and generate a new one.<br>
Extra: Can you automatize this pipeline to avoid having to run multiple cells multiple times by hand?

In [10]:
# r = []
# for i in range(len(X)):
   #  if i % 2 == 1:
     #    r.append(i)
        
# print(len(r))

# To automatize this pipeline we have to create functions to avoid running cells multiple times by hand, so we create a 
# function to calculate de number of odd and another to generate a list with the conditions asked previously. 
# We want to have half of odd numbers and half even numbers, so if the number of odd numbers is 50, then the number of 
# even numbers is 50 as well

# the function to generate the list with the conditions asked
def create_list(rand_list):
    for i in range(100):
        rand_list.append(random.randint(-25, 25))



# the function to count the number of odd numbers
def odd_numbers(rand_list):
    odds = 0
    for i in rand_list:
        if i % 2 == 1:
            odds = odds + 1
    return odds


# Now we want to automatize the pipeline. For this we can make a while loop that only stops if the number of odd numbers is 50
# While the number of odd numbers in the list isn't equal to 50, the current list is discarded and a new one is generated

while odd_numbers(X) != 50:
        X.clear()
        create_list(X)

    
# checking if the pipeline is right
print(X)
print('How many numbers are in this list? ', len(X))
print('How many odd numbers exist in X? ', odd_numbers(X))
print('How many even numbers exist in X? ', len(X) - odd_numbers(X))

[-1, 2, 5, 0, -2, -9, -20, -3, -10, -10, 11, 15, -23, 14, -14, -24, -25, -24, 1, -13, -25, 1, -8, 17, -24, -15, -4, -11, -13, 3, -12, 13, 6, -18, 4, -20, 9, -22, -12, -25, -18, -9, 12, -16, 14, 1, -23, 20, -24, -4, -14, -5, 16, -8, 10, -15, 17, 9, 15, -8, -12, 3, -4, -11, 4, -7, -9, 4, -2, -1, -18, -5, -1, 1, -25, 9, -16, 3, -17, -23, 2, -19, -21, 25, 15, 24, 20, 18, 2, -3, -13, 10, 6, 0, 23, -10, 6, 6, 23, -9]
How many numbers are in this list?  100
How many odd numbers exist in X?  50
How many even numbers exist in X?  50

**Q**: Print the number of digits on the 5th and 100th element of the list. <br>
Note: For instance, the number 1 contains one digit, the number 10 contains two digits, the number -2 contains one digit.

In [11]:
print('The 5th element is: ', X[4])
print('The 100th element is: ', X[-1])

# To count the number of digits in a number, fist we have to check if the number is positive or negtive.
# If it's negative then the number of digits is the lenght of the string of the value - 1. 
# If it's positive, the number of digits is the lenght of the string of the value
    
# For the 5th element    
if X[4] > 0:
    print('How many digits does de 5th elemnt has? ', len(str(X[i])))
else:
    print('How many digits does de 5th elemnt has? ', len(str(X[i])) - 1)
    
    
    
# For the 100th element    
if X[-1] > 0:
    print('How many digits does de 100th elemnt has? ', len(str(X[i])))
else:
    print('How many digits does de 100th elemnt has? ', len(str(X[i])) - 1)

The 5th element is:  -2
The 100th element is:  -9
How many digits does de 5th elemnt has?  1
How many digits does de 100th elemnt has?  1

**Q:** Is the sum of all the numbers in the list even or odd?

In [12]:
# to sum all the numbers in the list we use the function sum()

if sum(X) % 2 == 0:
    print('The sum of all the numbers in the list is even!', '\n', 'Result: ', sum(X))
else: 
    print('The sum of all the numbers in the list is odd!', '\n', 'Result: ', sum(X))

The sum of all the numbers in the list is even!
 Result:  -338

**Q**: What is the average of all the numbers in the list? What is the standard deviation? <br>

In [13]:
# Average
avg = sum(X)/len(X)
print('The average of all the numbers in te list is: ', avg)

# standard deviation
sum_ = 0
for i in range(0,len(X)):
    sum_ = sum_ + (X[i]-avg)**2
print('The standard deviation of the list is: ',round((sum_/(len(X)-1))**(1/2),2))

The average of all the numbers in te list is:  -3.38
The standard deviation of the list is:  13.69

**Q**: Sort list X in descending order and store the result in variable Xsort. <br>
Then replace each value in Xsort with index i as the sum of the values with index i-1 and i. <br> *Per definition Xsort[-1] = 0.*

In [14]:
X.sort(reverse = True)
Xsort = X
print(Xsort)


# replacing the values with the sum of the values with index i - 1 and i
for i in range(len(Xsort)):
    if i != 0: 
        X[i] = X[i] + X[i-1]
    else:
        X[i] = X[i]  
    
print(Xsort)

[25, 24, 23, 23, 20, 20, 18, 17, 17, 16, 15, 15, 15, 14, 14, 13, 12, 11, 10, 10, 9, 9, 9, 6, 6, 6, 6, 5, 4, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1, 1, 1, 0, 0, -1, -1, -1, -2, -2, -3, -3, -4, -4, -4, -5, -5, -7, -8, -8, -8, -9, -9, -9, -9, -10, -10, -10, -11, -11, -12, -12, -12, -13, -13, -13, -14, -14, -15, -15, -16, -16, -17, -18, -18, -18, -19, -20, -20, -21, -22, -23, -23, -23, -24, -24, -24, -24, -25, -25, -25, -25]
[25, 49, 72, 95, 115, 135, 153, 170, 187, 203, 218, 233, 248, 262, 276, 289, 301, 312, 322, 332, 341, 350, 359, 365, 371, 377, 383, 388, 392, 396, 400, 403, 406, 409, 411, 413, 415, 416, 417, 418, 419, 419, 419, 418, 417, 416, 414, 412, 409, 406, 402, 398, 394, 389, 384, 377, 369, 361, 353, 344, 335, 326, 317, 307, 297, 287, 276, 265, 253, 241, 229, 216, 203, 190, 176, 162, 147, 132, 116, 100, 83, 65, 47, 29, 10, -10, -30, -51, -73, -96, -119, -142, -166, -190, -214, -238, -263, -288, -313, -338]

## Exercise II - We have a gamer in the room

**Q**: Consider the dictionaries  *purchases* and *clients* that are declared in the cells below. <br>
1. Create a list with the names of the clients who bought more than one videogame. 
2. Print the List. <br>
3. What is the name of the client that bought more videogames?

TIP: You will want to check the methods associated with string manipulation. See the link: <br>
https://python-reference.readthedocs.io/en/latest/docs/unicode/index.html

In [15]:
# (Notice There are different games associated to each key)

purchases = {
    
    "1539":"Red dead redemption II",
    "9843":"GTA V,FarCry 5",
    "8472":"Canis Canem Edit",
    "3874":"Watchdogs II,South Park: The Stick of Truth",
    "5783":"AC: The Ezio Collection",
    "9823":"For Honor,The Forest,South Park: The Fractured but whole"
    
}

In [16]:
clients = {
    
    "1539":"Rick Sanchez",
    "9843":"Morty Smith",
    "8472":"Eve Polastri",
    "3874":"Mildred Ratched",
    "5783":"Alex Vause",
    "9823":"Sheldon Cooper"
    
}

In [17]:
# We have to acess the dictionary, run through all the keys and find the keys that have more than a movie. However, acess
# a dictionary is harder than acess a list or a tuple. So, we can "transform" the dictionary purchases into a list and work 
# from there. To do that, we create a tuple for the keys (clients id) and another tuple for the values (movies purchased) and use 
# the function zip to merge the two tuples.
# use the method split, associated with string manipulation, that returns a list with all the words separated by a ','. Then
# we can use the len() to know the number of movies associated with every key. If the repective list has more than a movie,
# we append the respetive name to a new list
#  So, we can create a list for 

# A tuple list with the clients ids
clients_id = list(purchases.keys())
print(clients_id)

# A tuple with the respective movies purchased
movies_purchased = list(purchases.values())
print(movies_purchased)

['1539', '9843', '8472', '3874', '5783', '9823']
['Red dead redemption II', 'GTA V,FarCry 5', 'Canis Canem Edit', 'Watchdogs II,South Park: The Stick of Truth', 'AC: The Ezio Collection', 'For Honor,The Forest,South Park: The Fractured but whole']

In [18]:
# Join the two tuples
purchases_ = zip(clients_id, movies_purchased)

purchases_2 = list(purchases_)
print(purchases_2)

[('1539', 'Red dead redemption II'), ('9843', 'GTA V,FarCry 5'), ('8472', 'Canis Canem Edit'), ('3874', 'Watchdogs II,South Park: The Stick of Truth'), ('5783', 'AC: The Ezio Collection'), ('9823', 'For Honor,The Forest,South Park: The Fractured but whole')]

In [19]:
# Since tuples are immutable, we have to transform them into lists first

for i in range(len(purchases_2)):
    purchases_2[i] = list(purchases_2[i])
    
print(purchases_2)

[['1539', 'Red dead redemption II'], ['9843', 'GTA V,FarCry 5'], ['8472', 'Canis Canem Edit'], ['3874', 'Watchdogs II,South Park: The Stick of Truth'], ['5783', 'AC: The Ezio Collection'], ['9823', 'For Honor,The Forest,South Park: The Fractured but whole']]

In [20]:
# Use the split method to create a list with the movies purchased for each client. 
for i in range(len(purchases_2)):
    purchases_2[i][1] = str(purchases_2[i][1]).split(',')
    
print(purchases_2)

[['1539', ['Red dead redemption II']], ['9843', ['GTA V', 'FarCry 5']], ['8472', ['Canis Canem Edit']], ['3874', ['Watchdogs II', 'South Park: The Stick of Truth']], ['5783', ['AC: The Ezio Collection']], ['9823', ['For Honor', 'The Forest', 'South Park: The Fractured but whole']]]

In [21]:
# count the number of movies each client bought

count_ = purchases_2

for i in range(len(count_)):
     count_[i][1] = len(count_[i][1])

print(count_)

[['1539', 1], ['9843', 2], ['8472', 1], ['3874', 2], ['5783', 1], ['9823', 3]]

In [22]:
# sorting the list so the highest value od movies purchased is in the end. So, sorting the values in descending order
count_.sort(key=lambda x: x[1])
count_

[['1539', 1], ['8472', 1], ['5783', 1], ['9843', 2], ['3874', 2], ['9823', 3]]

In [23]:
# create a list with the clients that bought more than a movie

two_movies_more = []
for i in range(len(count_)):
    if count_[i][1] > 1:
        two_movies_more.append(clients[clients_id[i]])
        
print(two_movies_more)

['Mildred Ratched', 'Alex Vause', 'Sheldon Cooper']

In [24]:
print('The client who bought more films was: ', clients[count_[-1][0]])

The client who bought more films was:  Sheldon Cooper

# <span style="color:brown"> Part 2 -  Data loading and analysis  </span>

## Exercise I - Alice what do you have to say?

Download the file alice.txt to the filepath (i.e., same folder) where you have your notebook.

**Q**: Load the Alice text file into a variable called Alice. Use a relative filepath in relation to the location of your notebook. <br>
Note: You are not allowed to use third-party libraries like Pandas.

In [25]:
import sys
print("paths: ",sys.path)

paths:  ['C:\\Users\\carol\\NOVA IMS\\1 semestre\\Programação\\hw_assiment1', 'C:\\Users\\carol\\anaconda3\\python38.zip', 'C:\\Users\\carol\\anaconda3\\DLLs', 'C:\\Users\\carol\\anaconda3\\lib', 'C:\\Users\\carol\\anaconda3', '', 'C:\\Users\\carol\\anaconda3\\lib\\site-packages', 'C:\\Users\\carol\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\carol\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\carol\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\carol\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\carol\\.ipython']

In [26]:
# Using readlines() to read de file
file = open('alice.txt', 'r')
Alice = file.readlines()
  
count = 0
for line in Alice:
    count += 1
    print("Line{}: {}".format(count, line.strip()))

Line1: Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, <<and what is the use of a book>>. thought Alice <<without pictures or conversation?>>.

In [27]:
print(Alice)

['Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, <<and what is the use of a book>>. thought Alice <<without pictures or conversation?>>.']

**Q**: Create a list in which each element is a word from the file Alice. Store that list in a variable called wAlice. <br>
Note: You will need to do some text parsing here. In particular to **split the sentences into words**. It is also a good practice to **normalize words** so that words "Hello" and "hello" become identical, by making all letters lower case. <br>
Tip: check the following links for a discussion on regular expressions. Also consult the methods available for string manipulation.

https://docs.python.org/3/library/re.html

https://stackoverflow.com/questions/1276764/stripping-everything-but-alphanumeric-chars-from-a-string-in-python

In [28]:
#we have to creat a list to put each word
wAlice = []

#first we have to normalize words
lower_alice = str(Alice).lower()

#then remove some different characters
remove_characters = "!()@:.,><''[]?"

for character in remove_characters:
    lower_alice = lower_alice.replace(character,'')


#in the end, we need to split all words in the list
wAlice=lower_alice.split(' ')
print(wAlice)

['alice', 'was', 'beginning', 'to', 'get', 'very', 'tired', 'of', 'sitting', 'by', 'her', 'sister', 'on', 'the', 'bank', 'and', 'of', 'having', 'nothing', 'to', 'do', 'once', 'or', 'twice', 'she', 'had', 'peeped', 'into', 'the', 'book', 'her', 'sister', 'was', 'reading', 'but', 'it', 'had', 'no', 'pictures', 'or', 'conversations', 'in', 'it', 'and', 'what', 'is', 'the', 'use', 'of', 'a', 'book', 'thought', 'alice', 'without', 'pictures', 'or', 'conversation']

#### Using the list wAlice answer the following questions:<br>
**Q**: How many words contains the text file Alice.txt? <br>

In [29]:
len(wAlice)
print("The file contains",len(wAlice),"words")

The file contains 57 words

**Q**: What is the longest and smallest word in the text file? (Length here is measured in terms of the number of characters)<br>

In [30]:
#to find the longest and the smallest word in alice.txt we can order the list and find the first and the last word at that list.
wAlice_sorted = sorted(wAlice, key=len)

print("The smallest word in the file is - ",wAlice_sorted[0])
print("The longest word in the file is - ",wAlice_sorted[-1])

The smallest word in the file is -  a
The longest word in the file is -  conversations

**Q**: Delete all the repeated words from wAlice. How many different words does the text contain?

In [31]:
#to solve this problem we can creat a new list that starts empty. Then it saves the words of the wAlice list if it still doesn't exist yet.
wAlice_unique = []
for i in wAlice: 
    if i not in wAlice_unique: 
        wAlice_unique.append(i) 
        
print("Exist", len(wAlice_unique), "unique words on the list")

Exist 41 unique words on the list

## Exercise II - I Love Economics

Consider the list *countries* in the cell below. <br>
It consists of a list of the 3-digit ISO codes of a set of countries of interest.

In [32]:
countries = [

('PRT','Portugal','Europe'),
('ISL','Israel','Asia'),
('COL','Colombia','South America'),
('NEV','Nevada','North America'),
('JPN','Japan','Asia'),
('RUS','Russia','well... which part?'),
('DEN','Denmark','Europe'),
('NOR','Norway','Europe')
    
]

**Now consider the file cdata.csv that you should download.** <br>
The file contains several information about countries, and is organized as follows:
1. Column 1 is the 3-digit ISO Code
2. Column 2 is the Full name of the country
3. Column 3 is the Continent in which the continent
4. Column 4 is the population size in 2010
5. Column 5 is the gdp per capita in 2010

**Q**: Load the file cdata.csv into an object called RAW. <br> Create a dictionary called cData in which the key is the 3-digit ISO Code and the value is a tuple with the information contained in the 2nd to the 5th of column of the cdata file.

In [33]:
# Load the file
import csv

with open('cdata.csv', 'r') as file:
    RAW = csv.reader(file, delimiter=',')
    next(RAW)                                # the first row of the file is the header so we have to skip it
 #   for row in RAW:
   #    print(row)
    cData = dict((row[0],tuple(row[1:5])) for row in RAW)

In [34]:
cData

{'ago': ('Angola', 'Africa', '23.369131088256836', '5988.534997149481'),
 'bdi': ('Burundi', 'Africa', '8.766929626464844', '731.4232803265862'),
 'ben': ('Benin', 'Africa', '9.199258804321289', '1919.9969479963038'),
 'bfa': ('Burkina Faso', 'Africa', '15.605216979980469', '1327.2165314775982'),
 'bwa': ('Botswana', 'Africa', '2.0148661136627197', '12256.14159052444'),
 'caf': ('Central African Republic',
  'Africa',
  '4.4485249519348145',
  '865.4421867263901'),
 'cmr': ('Cameroon', 'Africa', '19.970495223999023', '2684.972890247272'),
 'cod': ('Democratic Republic of the Congo',
  'Africa',
  '64.52326202392578',
  '634.9713963013496'),
 'cog': ('Republic of the Congo',
  'Africa',
  '4.386693000793457',
  '4979.990496069269'),
 'com': ('Comoros', 'Africa', '0.6896920204162598', '2292.997969425929'),
 'cpv': ('Cape Verde', 'Africa', '0.5023840069770813', '5644.821253339075'),
 'dji': ('Djibouti', 'Africa', '0.8511459827423096', '2124.4420625972525'),
 'dza': ('Algeria', 'Africa', '36.117637634277344', '12590.224223813591'),
 'egy': ('Egypt', 'Africa', '84.10760498046875', '9148.839753298033'),
 'eth': ('Ethiopia', 'Africa', '87.70266723632812', '1100.1831875876223'),
 'gab': ('Gabon', 'Africa', '1.6402100324630737', '11961.168226448879'),
 'gha': ('Ghana', 'Africa', '24.512104034423828', '3931.2918319728856'),
 'gin': ('Guinea', 'Africa', '10.794170379638672', '1742.7346742167783'),
 'gmb': ('Gambia', 'Africa', '1.692149043083191', '2681.8586168502143'),
 'gnb': ('Guinea-Bissau',
  'Africa',
  '1.5558799505233765',
  '1387.2497310879905'),
 'gnq': ('Equatorial Guinea',
  'Africa',
  '0.9511039853096008',
  '31416.887137501908'),
 'ken': ('Kenya', 'Africa', '41.35015106201172', '2484.0349094725366'),
 'lbr': ('Liberia', 'Africa', '3.948124885559082', '786.6702306741524'),
 'lso': ('Lesotho', 'Africa', '2.040550947189331', '2432.7976546880823'),
 'mar': ('Morocco', 'Africa', '32.409637451171875', '6421.937677907418'),
 'mdg': ('Madagascar', 'Africa', '21.151639938354492', '1459.9156124535612'),
 'mli': ('Mali', 'Africa', '15.075084686279297', '1873.2809618195865'),
 'moz': ('Mozambique', 'Africa', '24.221405029296875', '969.2307622526259'),
 'mrt': ('Mauritania', 'Africa', '3.6095430850982666', '3082.647028528842'),
 'mus': ('Mauritius', 'Africa', '1.2479549646377563', '15178.325920597827'),
 'mwi': ('Malawi', 'Africa', '15.167095184326172', '972.0456815116237'),
 'nam': ('Namibia', 'Africa', '2.1731700897216797', '7689.171239820006'),
 'ner': ('Niger', 'Africa', '16.42557716369629', '845.8693682212395'),
 'nga': ('Nigeria', 'Africa', '158.57826232910156', '5186.304307542348'),
 'rwa': ('Rwanda', 'Africa', '10.246842384338379', '1379.6993252327009'),
 'sdn': ('Sudan', 'Africa', '34.385963439941406', '3608.7856176907358'),
 'sen': ('Senegal', 'Africa', '12.916229248046875', '2741.121456198507'),
 'sle': ('Sierra Leone', 'Africa', '6.4587202072143555', '1161.8796942144647'),
 'swz': ('Swaziland', 'Africa', '1.2028429508209229', '7042.524359035093'),
 'syc': ('Seychelles', 'Africa', '0.0914049968123436', '17960.353075613308'),
 'tcd': ('Chad', 'Africa', '11.887202262878418', '1880.3748762799714'),
 'tgo': ('Togo', 'Africa', '6.5029520988464355', '1222.8150529133295'),
 'tun': ('Tunisia', 'Africa', '10.639930725097656', '10647.834980284626'),
 'tza': ('Tanzania', 'Africa', '44.82893753051758', '1979.1718644815185'),
 'uga': ('Uganda', 'Africa', '33.91513442993164', '1723.5943355766267'),
 'zaf': ('South Africa', 'Africa', '51.58466339111328', '11388.640515995063'),
 'zmb': ('Zambia', 'Africa', '13.850032806396484', '2870.8872656342314'),
 'zwe': ('Zimbabwe', 'Africa', '14.08631706237793', '1479.0305839163732'),
 'are': ('United Arab Emirates',
  'Asia',
  '8.270684242248535',
  '59707.412565389604'),
 'arm': ('Armenia', 'Asia', '2.8773109912872314', '8222.945234202914'),
 'aze': ('Azerbaijan', 'Asia', '9.03245735168457', '12947.102198682365'),
 'bgd': ('Bangladesh', 'Asia', '152.14910888671875', '2411.1020691099325'),
 'bhr': ('Bahrain', 'Asia', '1.2408620119094849', '37045.81310919623'),
 'brn': ('Brunei', 'Asia', '0.3886620104312897', '67320.89957245934'),
 'btn': ('Bhutan', 'Asia', '0.7276409864425659', '7235.18974818538'),
 'chn': ('China', 'Asia', '1359.755126953125', '9337.290772677254'),
 'cyp': ('Cyprus', 'Asia', '0.829446017742157', '28046.373877741087'),
 'geo': ('Georgia', 'Asia', '4.231660842895508', '7966.602756952667'),
 'hkg': ('Hong Kong', 'Asia', '7.02522087097168', '41687.946418899235'),
 'ind': ('India', 'Asia', '1230.980712890625', '4357.0597360582315'),
 'irn': ('Iran', 'Asia', '74.56751251220703', '17328.457882894658'),
 'irq': ('Iraq', 'Asia', '30.7627010345459', '9344.543768350652'),
 'isr': ('Israel', 'Asia', '7.42595911026001', '28638.9037385305'),
 'jor': ('Jordan', 'Asia', '7.182390213012695', '9351.387283068141'),
 'jpn': ('Japan', 'Asia', '128.5518798828125', '36595.63364058582'),
 'kaz': ('Kazakhstan', 'Asia', '16.398975372314453', '17908.83993251286'),
 'kgz': ('Kyrgyzstan', 'Asia', '5.422337055206299', '3382.4639059259293'),
 'khm': ('Cambodia', 'Asia', '14.30873966217041', '2330.127207632253'),
 'kor': ('South Korea', 'Asia', '49.5528564453125', '31589.705161145695'),
 'kwt': ('Kuwait', 'Asia', '2.9980831146240234', '67029.51680017101'),
 'lao': ('Laos', 'Asia', '6.246273994445801', '4316.969858587265'),
 'lbn': ('Lebanon', 'Asia', '4.337141036987305', '18025.24893894264'),
 'lka': ('Sri Lanka', 'Asia', '20.198352813720703', '8390.429701766443'),
 'mac': ('Macau', 'Asia', '0.536969006061554', '91982.39517540816'),
 'mdv': ('Maldives', 'Asia', '0.36451101303100586', '12140.803390739566'),
 'mmr': ('Burma', 'Asia', '50.1558952331543', '3422.241340266976'),
 'mng': ('Mongolia', 'Asia', '2.7126500606536865', '7670.714034382584'),
 'mys': ('Malaysia', 'Asia', '28.112289428710938', '17913.164410782432'),
 'npl': ('Nepal', 'Asia', '27.023136138916016', '1996.1961554516242'),
 'omn': ('Oman', 'Asia', '3.0414600372314453', '40472.674942509126'),
 'pak': ('Pakistan', 'Asia', '170.5601806640625', '4171.416562353057'),
 'phl': ('Philippines', 'Asia', '93.72662353515625', '5391.233965240031'),
 'qat': ('Qatar', 'Asia', '1.7796759605407715', '123128.40152283433'),
 'sau': ('Saudi Arabia', 'Asia', '27.425676345825195', '42331.65885721999'),
 'sgp': ('Singapore', 'Asia', '5.074252128601074', '58618.43503468222'),
 'syr': ('Syria', 'Asia', '21.01883316040039', '5700.329438992399'),
 'tha': ('Thailand', 'Asia', '67.20880889892578', '12496.244186726299'),
 'tjk': ('Tajikistan', 'Asia', '7.641630172729492', '2784.5145587763627'),
 'tkm': ('Turkmenistan', 'Asia', '5.087210178375244', '16061.429412691556'),
 'tur': ('Turkey', 'Asia', '72.32691192626953', '17930.678781392427'),
 'twn': ('Taiwan', 'Asia', '23.140947341918945', '37188.89452901009'),
 'uzb': ('Uzbekistan', 'Asia', '28.606294631958008', '6574.51672506692'),
 'vnm': ('Vietnam', 'Asia', '88.4725112915039', '4428.42140209062'),
 'yem': ('Yemen', 'Asia', '23.606779098510742', '4553.557258443674'),
 'alb': ('Albania', 'Europe', '2.9405250549316406', '9544.73991912729'),
 'aut': ('Austria', 'Europe', '8.40994930267334', '40489.80635849457'),
 'bel': ('Belgium', 'Europe', '10.938738822937012', '38177.94724875522'),
 'bgr': ('Bulgaria', 'Europe', '7.404590129852295', '14906.784964031736'),
 'bih': ('Bosnia and Herzegovina',
  'Europe',
  '3.7220840454101562',
  '9049.364732987471'),
 'blr': ('Belarus', 'Europe', '9.473071098327637', '16457.02937904922'),
 'che': ('Switzerland', 'Europe', '7.831971168518066', '55688.020214268225'),
 'cze': ('Czech Republic',
  'Europe',
  '10.536286354064941',
  '26129.56935189834'),
 'deu': ('Germany', 'Europe', '80.89478302001953', '40627.23054942445'),
 'dnk': ('Denmark', 'Europe', '5.554843902587891', '43416.22338615916'),
 'esp': ('Spain', 'Europe', '46.788631439208984', '31610.980157042286'),
 'est': ('Estonia', 'Europe', '1.3321019411087036', '20265.572596704937'),
 'fin': ('Finland', 'Europe', '5.365781784057617', '38394.06158150017'),
 'fra': ('France', 'Europe', '65.14578247070312', '35786.16161450548'),
 'gbr': ('United Kingdom', 'Europe', '63.30684280395508', '34810.28120173958'),
 'grc': ('Greece', 'Europe', '11.446004867553711', '25815.80076797162'),
 'hrv': ('Croatia', 'Europe', '4.328153133392334', '19305.008088868373'),
 'hun': ('Hungary', 'Europe', '9.927840232849121', '20477.79856764035'),
 'irl': ('Ireland', 'Europe', '4.626927852630615', '47823.50815113634'),
 'isl': ('Iceland', 'Europe', '0.3203279972076416', '37729.01607603124'),
 'ita': ('Italy', 'Europe', '59.72980880737305', '34727.67268834705'),
 'ltu': ('Lithuania', 'Europe', '3.123802900314331', '18475.371145517096'),
 'lux': ('Luxembourg', 'Europe', '0.5078889727592468', '57882.81020537233'),
 'lva': ('Latvia', 'Europe', '2.1188480854034424', '16943.688322829523'),
 'mda': ('Moldova', 'Europe', '4.0844807624816895', '4173.634753274572'),
 'mkd': ('Macedonia', 'Europe', '2.0707390308380127', '11265.643175619889'),
 'mlt': ('Malta', 'Europe', '0.41611000895500183', '22983.44992639125'),
 'mne': ('Montenegro', 'Europe', '0.6242849826812744', '14960.94855221103'),
 'nld': ('Netherlands', 'Europe', '16.68291664123535', '44004.146024770846'),
 'nor': ('Norway', 'Europe', '4.885878086090088', '73262.68174170727'),
 'pol': ('Poland', 'Europe', '38.323402404785156', '21006.027309294514'),
 'prt': ('Portugal', 'Europe', '10.652320861816406', '25788.2739652247'),
 'rou': ('Romania', 'Europe', '20.44034767150879', '16775.609043478133'),
 'rus': ('Russia', 'Asia', '143.15386962890625', '21754.067899615977'),
 'srb': ('Serbia', 'Europe', '7.291436195373535', '12453.482551916944'),
 'svk': ('Slovakia', 'Europe', '5.404294013977051', '23061.12099058148'),
 'svn': ('Slovenia', 'Europe', '2.045167922973633', '25831.33128718208'),
 'swe': ('Sweden', 'Europe', '9.390168190002441', '40421.906436576974'),
 'ukr': ('Ukraine', 'Europe', '45.79249954223633', '8713.259627419637'),
 'abw': ('Aruba', 'NorthAmerica', '0.10166899859905243', '37059.34143869512'),
 'aia': ('Anguilla',
  'NorthAmerica',
  '0.013768999837338924',
  '21098.057152999143'),
 'atg': ('Antigua and Barbuda',
  'NorthAmerica',
  '0.09466099739074707',
  '17162.16102781353'),
 'bhs': ('Bahamas',
  'NorthAmerica',
  '0.36083200573921204',
  '29504.581346144332'),
 'blz': ('Belize', 'NorthAmerica', '0.3216080069541931', '7145.952547655193'),
 'bmu': ('Bermuda',
  'NorthAmerica',
  '0.06395599991083145',
  '51447.147481910884'),
 'brb': ('Barbados',
  'NorthAmerica',
  '0.27956900000572205',
  '13995.612896540895'),
 'can': ('Canada', 'NorthAmerica', '34.16866683959961', '40269.03526728651'),
 'cri': ('Costa Rica',
  'NorthAmerica',
  '4.5452799797058105',
  '12106.99191566891'),
 'cuw': ('CuraÃ§ao',
  'NorthAmerica',
  '0.14760799705982208',
  '24337.816177887613'),
 'cym': ('Cayman Islands',
  'NorthAmerica',
  '0.05550700053572655',
  '36670.678481483985'),
 'dma': ('Dominica',
  'NorthAmerica',
  '0.07143999636173248',
  '9101.993729581038'),
 'dom': ('Dominican Republic',
  'NorthAmerica',
  '9.897985458374023',
  '11500.13134401987'),
 'grd': ('Grenada', 'NorthAmerica', '0.1046769991517067', '9791.291133092265'),
 'gtm': ('Guatemala',
  'NorthAmerica',
  '14.630416870117188',
  '6359.262684615136'),
 'hnd': ('Honduras',
  'NorthAmerica',
  '8.194778442382812',
  '3789.9102248753848'),
 'hti': ('Haiti', 'NorthAmerica', '9.999616622924805', '1650.2697128700804'),
 'jam': ('Jamaica', 'NorthAmerica', '2.8172099590301514', '6675.176956450172'),
 'kna': ('Saint Kitts and Nevis',
  'NorthAmerica',
  '0.05144499987363815',
  '17837.349758162076'),
 'lca': ('Saint Lucia',
  'NorthAmerica',
  '0.17258000373840332',
  '9178.266990673521'),
 'mex': ('Mexico', 'NorthAmerica', '117.31893920898438', '14507.011923865603'),
 'msr': ('Montserrat',
  'NorthAmerica',
  '0.00494399992749095',
  '15385.002991478228'),
 'nic': ('Nicaragua',
  'NorthAmerica',
  '5.737722873687744',
  '3992.7619078961748'),
 'pan': ('Panama', 'NorthAmerica', '3.6432220935821533', '15055.237591848218'),
 'slv': ('El Salvador',
  'NorthAmerica',
  '6.164626121520996',
  '6096.958357099287'),
 'tca': ('Turks and Caicos Islands',
  'NorthAmerica',
  '0.030993999913334846',
  '7230.966074605446'),
 'tto': ('Trinidad and Tobago',
  'NorthAmerica',
  '1.3280999660491943',
  '27510.236190041924'),
 'usa': ('United States',
  'NorthAmerica',
  '308.6413879394531',
  '49500.62628346238'),
 'vct': ('Saint Vincent and the Grenadines',
  'NorthAmerica',
  '0.10931500047445297',
  '8095.21923068351'),
 'vgb': ('British Virgin Islands',
  'NorthAmerica',
  '0.027224000543355942',
  '21183.279165646647'),
 'aus': ('Australia', 'Oceania', '22.12006378173828', '44854.90004866657'),
 'fji': ('Fiji', 'Oceania', '0.8599500060081482', '6902.0687720944225'),
 'nzl': ('New Zealand', 'Oceania', '4.370061874389648', '30867.05437525178'),
 'arg': ('Argentina',
  'SouthAmerica',
  '41.2238883972168',
  '15841.658208158999'),
 'bol': ('Bolivia', 'SouthAmerica', '9.918242454528809', '4806.608983377068'),
 'bra': ('Brazil', 'SouthAmerica', '196.7962646484375', '13541.462561602328'),
 'chl': ('Chile', 'SouthAmerica', '16.99335479736328', '18092.94007371081')}

**Q**: Using cData, identify what is the most common Continent among the Nations in the list countries.

In [35]:
# create a list with the info about the countries
info = list(cData.values())


continents = []
for i in range(len(info)):
        continents.append(info[i][1])
# print(continents)


most_common = {}
for n in continents:
    if n in most_common: 
        most_common[n] +=1
    else: 
        most_common[n] = 1     
        
print(most_common)

print("The most common Continent is", list(most_common.keys())[0])

{'Africa': 48, 'Asia': 47, 'Europe': 38, 'NorthAmerica': 30, 'Oceania': 3, 'SouthAmerica': 4}
The most common Continent is Africa

**Q**: Using cData, identify the most populated nation among the countries list.

In [36]:
info

[('Angola', 'Africa', '23.369131088256836', '5988.534997149481'),
 ('Burundi', 'Africa', '8.766929626464844', '731.4232803265862'),
 ('Benin', 'Africa', '9.199258804321289', '1919.9969479963038'),
 ('Burkina Faso', 'Africa', '15.605216979980469', '1327.2165314775982'),
 ('Botswana', 'Africa', '2.0148661136627197', '12256.14159052444'),
 ('Central African Republic',
  'Africa',
  '4.4485249519348145',
  '865.4421867263901'),
 ('Cameroon', 'Africa', '19.970495223999023', '2684.972890247272'),
 ('Democratic Republic of the Congo',
  'Africa',
  '64.52326202392578',
  '634.9713963013496'),
 ('Republic of the Congo', 'Africa', '4.386693000793457', '4979.990496069269'),
 ('Comoros', 'Africa', '0.6896920204162598', '2292.997969425929'),
 ('Cape Verde', 'Africa', '0.5023840069770813', '5644.821253339075'),
 ('Djibouti', 'Africa', '0.8511459827423096', '2124.4420625972525'),
 ('Algeria', 'Africa', '36.117637634277344', '12590.224223813591'),
 ('Egypt', 'Africa', '84.10760498046875', '9148.839753298033'),
 ('Ethiopia', 'Africa', '87.70266723632812', '1100.1831875876223'),
 ('Gabon', 'Africa', '1.6402100324630737', '11961.168226448879'),
 ('Ghana', 'Africa', '24.512104034423828', '3931.2918319728856'),
 ('Guinea', 'Africa', '10.794170379638672', '1742.7346742167783'),
 ('Gambia', 'Africa', '1.692149043083191', '2681.8586168502143'),
 ('Guinea-Bissau', 'Africa', '1.5558799505233765', '1387.2497310879905'),
 ('Equatorial Guinea', 'Africa', '0.9511039853096008', '31416.887137501908'),
 ('Kenya', 'Africa', '41.35015106201172', '2484.0349094725366'),
 ('Liberia', 'Africa', '3.948124885559082', '786.6702306741524'),
 ('Lesotho', 'Africa', '2.040550947189331', '2432.7976546880823'),
 ('Morocco', 'Africa', '32.409637451171875', '6421.937677907418'),
 ('Madagascar', 'Africa', '21.151639938354492', '1459.9156124535612'),
 ('Mali', 'Africa', '15.075084686279297', '1873.2809618195865'),
 ('Mozambique', 'Africa', '24.221405029296875', '969.2307622526259'),
 ('Mauritania', 'Africa', '3.6095430850982666', '3082.647028528842'),
 ('Mauritius', 'Africa', '1.2479549646377563', '15178.325920597827'),
 ('Malawi', 'Africa', '15.167095184326172', '972.0456815116237'),
 ('Namibia', 'Africa', '2.1731700897216797', '7689.171239820006'),
 ('Niger', 'Africa', '16.42557716369629', '845.8693682212395'),
 ('Nigeria', 'Africa', '158.57826232910156', '5186.304307542348'),
 ('Rwanda', 'Africa', '10.246842384338379', '1379.6993252327009'),
 ('Sudan', 'Africa', '34.385963439941406', '3608.7856176907358'),
 ('Senegal', 'Africa', '12.916229248046875', '2741.121456198507'),
 ('Sierra Leone', 'Africa', '6.4587202072143555', '1161.8796942144647'),
 ('Swaziland', 'Africa', '1.2028429508209229', '7042.524359035093'),
 ('Seychelles', 'Africa', '0.0914049968123436', '17960.353075613308'),
 ('Chad', 'Africa', '11.887202262878418', '1880.3748762799714'),
 ('Togo', 'Africa', '6.5029520988464355', '1222.8150529133295'),
 ('Tunisia', 'Africa', '10.639930725097656', '10647.834980284626'),
 ('Tanzania', 'Africa', '44.82893753051758', '1979.1718644815185'),
 ('Uganda', 'Africa', '33.91513442993164', '1723.5943355766267'),
 ('South Africa', 'Africa', '51.58466339111328', '11388.640515995063'),
 ('Zambia', 'Africa', '13.850032806396484', '2870.8872656342314'),
 ('Zimbabwe', 'Africa', '14.08631706237793', '1479.0305839163732'),
 ('United Arab Emirates', 'Asia', '8.270684242248535', '59707.412565389604'),
 ('Armenia', 'Asia', '2.8773109912872314', '8222.945234202914'),
 ('Azerbaijan', 'Asia', '9.03245735168457', '12947.102198682365'),
 ('Bangladesh', 'Asia', '152.14910888671875', '2411.1020691099325'),
 ('Bahrain', 'Asia', '1.2408620119094849', '37045.81310919623'),
 ('Brunei', 'Asia', '0.3886620104312897', '67320.89957245934'),
 ('Bhutan', 'Asia', '0.7276409864425659', '7235.18974818538'),
 ('China', 'Asia', '1359.755126953125', '9337.290772677254'),
 ('Cyprus', 'Asia', '0.829446017742157', '28046.373877741087'),
 ('Georgia', 'Asia', '4.231660842895508', '7966.602756952667'),
 ('Hong Kong', 'Asia', '7.02522087097168', '41687.946418899235'),
 ('India', 'Asia', '1230.980712890625', '4357.0597360582315'),
 ('Iran', 'Asia', '74.56751251220703', '17328.457882894658'),
 ('Iraq', 'Asia', '30.7627010345459', '9344.543768350652'),
 ('Israel', 'Asia', '7.42595911026001', '28638.9037385305'),
 ('Jordan', 'Asia', '7.182390213012695', '9351.387283068141'),
 ('Japan', 'Asia', '128.5518798828125', '36595.63364058582'),
 ('Kazakhstan', 'Asia', '16.398975372314453', '17908.83993251286'),
 ('Kyrgyzstan', 'Asia', '5.422337055206299', '3382.4639059259293'),
 ('Cambodia', 'Asia', '14.30873966217041', '2330.127207632253'),
 ('South Korea', 'Asia', '49.5528564453125', '31589.705161145695'),
 ('Kuwait', 'Asia', '2.9980831146240234', '67029.51680017101'),
 ('Laos', 'Asia', '6.246273994445801', '4316.969858587265'),
 ('Lebanon', 'Asia', '4.337141036987305', '18025.24893894264'),
 ('Sri Lanka', 'Asia', '20.198352813720703', '8390.429701766443'),
 ('Macau', 'Asia', '0.536969006061554', '91982.39517540816'),
 ('Maldives', 'Asia', '0.36451101303100586', '12140.803390739566'),
 ('Burma', 'Asia', '50.1558952331543', '3422.241340266976'),
 ('Mongolia', 'Asia', '2.7126500606536865', '7670.714034382584'),
 ('Malaysia', 'Asia', '28.112289428710938', '17913.164410782432'),
 ('Nepal', 'Asia', '27.023136138916016', '1996.1961554516242'),
 ('Oman', 'Asia', '3.0414600372314453', '40472.674942509126'),
 ('Pakistan', 'Asia', '170.5601806640625', '4171.416562353057'),
 ('Philippines', 'Asia', '93.72662353515625', '5391.233965240031'),
 ('Qatar', 'Asia', '1.7796759605407715', '123128.40152283433'),
 ('Saudi Arabia', 'Asia', '27.425676345825195', '42331.65885721999'),
 ('Singapore', 'Asia', '5.074252128601074', '58618.43503468222'),
 ('Syria', 'Asia', '21.01883316040039', '5700.329438992399'),
 ('Thailand', 'Asia', '67.20880889892578', '12496.244186726299'),
 ('Tajikistan', 'Asia', '7.641630172729492', '2784.5145587763627'),
 ('Turkmenistan', 'Asia', '5.087210178375244', '16061.429412691556'),
 ('Turkey', 'Asia', '72.32691192626953', '17930.678781392427'),
 ('Taiwan', 'Asia', '23.140947341918945', '37188.89452901009'),
 ('Uzbekistan', 'Asia', '28.606294631958008', '6574.51672506692'),
 ('Vietnam', 'Asia', '88.4725112915039', '4428.42140209062'),
 ('Yemen', 'Asia', '23.606779098510742', '4553.557258443674'),
 ('Albania', 'Europe', '2.9405250549316406', '9544.73991912729'),
 ('Austria', 'Europe', '8.40994930267334', '40489.80635849457'),
 ('Belgium', 'Europe', '10.938738822937012', '38177.94724875522'),
 ('Bulgaria', 'Europe', '7.404590129852295', '14906.784964031736'),
 ('Bosnia and Herzegovina',
  'Europe',
  '3.7220840454101562',
  '9049.364732987471'),
 ('Belarus', 'Europe', '9.473071098327637', '16457.02937904922'),
 ('Switzerland', 'Europe', '7.831971168518066', '55688.020214268225'),
 ('Czech Republic', 'Europe', '10.536286354064941', '26129.56935189834'),
 ('Germany', 'Europe', '80.89478302001953', '40627.23054942445'),
 ('Denmark', 'Europe', '5.554843902587891', '43416.22338615916'),
 ('Spain', 'Europe', '46.788631439208984', '31610.980157042286'),
 ('Estonia', 'Europe', '1.3321019411087036', '20265.572596704937'),
 ('Finland', 'Europe', '5.365781784057617', '38394.06158150017'),
 ('France', 'Europe', '65.14578247070312', '35786.16161450548'),
 ('United Kingdom', 'Europe', '63.30684280395508', '34810.28120173958'),
 ('Greece', 'Europe', '11.446004867553711', '25815.80076797162'),
 ('Croatia', 'Europe', '4.328153133392334', '19305.008088868373'),
 ('Hungary', 'Europe', '9.927840232849121', '20477.79856764035'),
 ('Ireland', 'Europe', '4.626927852630615', '47823.50815113634'),
 ('Iceland', 'Europe', '0.3203279972076416', '37729.01607603124'),
 ('Italy', 'Europe', '59.72980880737305', '34727.67268834705'),
 ('Lithuania', 'Europe', '3.123802900314331', '18475.371145517096'),
 ('Luxembourg', 'Europe', '0.5078889727592468', '57882.81020537233'),
 ('Latvia', 'Europe', '2.1188480854034424', '16943.688322829523'),
 ('Moldova', 'Europe', '4.0844807624816895', '4173.634753274572'),
 ('Macedonia', 'Europe', '2.0707390308380127', '11265.643175619889'),
 ('Malta', 'Europe', '0.41611000895500183', '22983.44992639125'),
 ('Montenegro', 'Europe', '0.6242849826812744', '14960.94855221103'),
 ('Netherlands', 'Europe', '16.68291664123535', '44004.146024770846'),
 ('Norway', 'Europe', '4.885878086090088', '73262.68174170727'),
 ('Poland', 'Europe', '38.323402404785156', '21006.027309294514'),
 ('Portugal', 'Europe', '10.652320861816406', '25788.2739652247'),
 ('Romania', 'Europe', '20.44034767150879', '16775.609043478133'),
 ('Russia', 'Asia', '143.15386962890625', '21754.067899615977'),
 ('Serbia', 'Europe', '7.291436195373535', '12453.482551916944'),
 ('Slovakia', 'Europe', '5.404294013977051', '23061.12099058148'),
 ('Slovenia', 'Europe', '2.045167922973633', '25831.33128718208'),
 ('Sweden', 'Europe', '9.390168190002441', '40421.906436576974'),
 ('Ukraine', 'Europe', '45.79249954223633', '8713.259627419637'),
 ('Aruba', 'NorthAmerica', '0.10166899859905243', '37059.34143869512'),
 ('Anguilla', 'NorthAmerica', '0.013768999837338924', '21098.057152999143'),
 ('Antigua and Barbuda',
  'NorthAmerica',
  '0.09466099739074707',
  '17162.16102781353'),
 ('Bahamas', 'NorthAmerica', '0.36083200573921204', '29504.581346144332'),
 ('Belize', 'NorthAmerica', '0.3216080069541931', '7145.952547655193'),
 ('Bermuda', 'NorthAmerica', '0.06395599991083145', '51447.147481910884'),
 ('Barbados', 'NorthAmerica', '0.27956900000572205', '13995.612896540895'),
 ('Canada', 'NorthAmerica', '34.16866683959961', '40269.03526728651'),
 ('Costa Rica', 'NorthAmerica', '4.5452799797058105', '12106.99191566891'),
 ('CuraÃ§ao', 'NorthAmerica', '0.14760799705982208', '24337.816177887613'),
 ('Cayman Islands',
  'NorthAmerica',
  '0.05550700053572655',
  '36670.678481483985'),
 ('Dominica', 'NorthAmerica', '0.07143999636173248', '9101.993729581038'),
 ('Dominican Republic',
  'NorthAmerica',
  '9.897985458374023',
  '11500.13134401987'),
 ('Grenada', 'NorthAmerica', '0.1046769991517067', '9791.291133092265'),
 ('Guatemala', 'NorthAmerica', '14.630416870117188', '6359.262684615136'),
 ('Honduras', 'NorthAmerica', '8.194778442382812', '3789.9102248753848'),
 ('Haiti', 'NorthAmerica', '9.999616622924805', '1650.2697128700804'),
 ('Jamaica', 'NorthAmerica', '2.8172099590301514', '6675.176956450172'),
 ('Saint Kitts and Nevis',
  'NorthAmerica',
  '0.05144499987363815',
  '17837.349758162076'),
 ('Saint Lucia', 'NorthAmerica', '0.17258000373840332', '9178.266990673521'),
 ('Mexico', 'NorthAmerica', '117.31893920898438', '14507.011923865603'),
 ('Montserrat', 'NorthAmerica', '0.00494399992749095', '15385.002991478228'),
 ('Nicaragua', 'NorthAmerica', '5.737722873687744', '3992.7619078961748'),
 ('Panama', 'NorthAmerica', '3.6432220935821533', '15055.237591848218'),
 ('El Salvador', 'NorthAmerica', '6.164626121520996', '6096.958357099287'),
 ('Turks and Caicos Islands',
  'NorthAmerica',
  '0.030993999913334846',
  '7230.966074605446'),
 ('Trinidad and Tobago',
  'NorthAmerica',
  '1.3280999660491943',
  '27510.236190041924'),
 ('United States', 'NorthAmerica', '308.6413879394531', '49500.62628346238'),
 ('Saint Vincent and the Grenadines',
  'NorthAmerica',
  '0.10931500047445297',
  '8095.21923068351'),
 ('British Virgin Islands',
  'NorthAmerica',
  '0.027224000543355942',
  '21183.279165646647'),
 ('Australia', 'Oceania', '22.12006378173828', '44854.90004866657'),
 ('Fiji', 'Oceania', '0.8599500060081482', '6902.0687720944225'),
 ('New Zealand', 'Oceania', '4.370061874389648', '30867.05437525178'),
 ('Argentina', 'SouthAmerica', '41.2238883972168', '15841.658208158999'),
 ('Bolivia', 'SouthAmerica', '9.918242454528809', '4806.608983377068'),
 ('Brazil', 'SouthAmerica', '196.7962646484375', '13541.462561602328'),
 ('Chile', 'SouthAmerica', '16.99335479736328', '18092.94007371081')]

In [37]:
# To find the most populated nation among the countries list we can, firstly, append to the countries list, the population 
# column. Since tuples are unchangeble and immutable, we have to transform the tuples into lists first.

for i in range(len(countries)):
    countries[i] = list(countries[i])
    
print(countries)

[['PRT', 'Portugal', 'Europe'], ['ISL', 'Israel', 'Asia'], ['COL', 'Colombia', 'South America'], ['NEV', 'Nevada', 'North America'], ['JPN', 'Japan', 'Asia'], ['RUS', 'Russia', 'well... which part?'], ['DEN', 'Denmark', 'Europe'], ['NOR', 'Norway', 'Europe']]

In [38]:
# Next, we append the respective population value

for i in range(len(countries)):
    for j in range(len(info)):
        if info[j][0] == countries[i][1]:
            countries[i].append(info[j][2])
        
countries

[['PRT', 'Portugal', 'Europe', '10.652320861816406'],
 ['ISL', 'Israel', 'Asia', '7.42595911026001'],
 ['COL', 'Colombia', 'South America'],
 ['NEV', 'Nevada', 'North America'],
 ['JPN', 'Japan', 'Asia', '128.5518798828125'],
 ['RUS', 'Russia', 'well... which part?', '143.15386962890625'],
 ['DEN', 'Denmark', 'Europe', '5.554843902587891'],
 ['NOR', 'Norway', 'Europe', '4.885878086090088']]

In [39]:
# We can verify that Colombia and Nevada don't have population values. 
# We have to check if Colombia and Nevada are in cData. We'll do that through info list created previously

country_names = []
for i in range(len(info)):
    country_names.append(info[i][0])
    
country_names

['Angola',
 'Burundi',
 'Benin',
 'Burkina Faso',
 'Botswana',
 'Central African Republic',
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Comoros',
 'Cape Verde',
 'Djibouti',
 'Algeria',
 'Egypt',
 'Ethiopia',
 'Gabon',
 'Ghana',
 'Guinea',
 'Gambia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Kenya',
 'Liberia',
 'Lesotho',
 'Morocco',
 'Madagascar',
 'Mali',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Namibia',
 'Niger',
 'Nigeria',
 'Rwanda',
 'Sudan',
 'Senegal',
 'Sierra Leone',
 'Swaziland',
 'Seychelles',
 'Chad',
 'Togo',
 'Tunisia',
 'Tanzania',
 'Uganda',
 'South Africa',
 'Zambia',
 'Zimbabwe',
 'United Arab Emirates',
 'Armenia',
 'Azerbaijan',
 'Bangladesh',
 'Bahrain',
 'Brunei',
 'Bhutan',
 'China',
 'Cyprus',
 'Georgia',
 'Hong Kong',
 'India',
 'Iran',
 'Iraq',
 'Israel',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kyrgyzstan',
 'Cambodia',
 'South Korea',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Sri Lanka',
 'Macau',
 'Maldives',
 'Burma',
 'Mongolia',
 'Malaysia',
 'Nepal',
 'Oman',
 'Pakistan',
 'Philippines',
 'Qatar',
 'Saudi Arabia',
 'Singapore',
 'Syria',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Turkey',
 'Taiwan',
 'Uzbekistan',
 'Vietnam',
 'Yemen',
 'Albania',
 'Austria',
 'Belgium',
 'Bulgaria',
 'Bosnia and Herzegovina',
 'Belarus',
 'Switzerland',
 'Czech Republic',
 'Germany',
 'Denmark',
 'Spain',
 'Estonia',
 'Finland',
 'France',
 'United Kingdom',
 'Greece',
 'Croatia',
 'Hungary',
 'Ireland',
 'Iceland',
 'Italy',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Moldova',
 'Macedonia',
 'Malta',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Sweden',
 'Ukraine',
 'Aruba',
 'Anguilla',
 'Antigua and Barbuda',
 'Bahamas',
 'Belize',
 'Bermuda',
 'Barbados',
 'Canada',
 'Costa Rica',
 'CuraÃ§ao',
 'Cayman Islands',
 'Dominica',
 'Dominican Republic',
 'Grenada',
 'Guatemala',
 'Honduras',
 'Haiti',
 'Jamaica',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Mexico',
 'Montserrat',
 'Nicaragua',
 'Panama',
 'El Salvador',
 'Turks and Caicos Islands',
 'Trinidad and Tobago',
 'United States',
 'Saint Vincent and the Grenadines',
 'British Virgin Islands',
 'Australia',
 'Fiji',
 'New Zealand',
 'Argentina',
 'Bolivia',
 'Brazil',
 'Chile']

In [40]:
'Portugal' in country_names

# We can see that Portugal is in the list, This was just to make sure we are doing things right

True

In [41]:
'Colombia' in country_names

False

In [42]:
'Nevada' in country_names

# We can now see that the dictionary doesn't have information about these two countries.

False

In [43]:
# To compare the most population nation, we're going to remove those countriess that don't have information
# Colombia list is index 2 and Nevada is index 3

countries.pop(2)

['COL', 'Colombia', 'South America']

In [44]:
countries

[['PRT', 'Portugal', 'Europe', '10.652320861816406'],
 ['ISL', 'Israel', 'Asia', '7.42595911026001'],
 ['NEV', 'Nevada', 'North America'],
 ['JPN', 'Japan', 'Asia', '128.5518798828125'],
 ['RUS', 'Russia', 'well... which part?', '143.15386962890625'],
 ['DEN', 'Denmark', 'Europe', '5.554843902587891'],
 ['NOR', 'Norway', 'Europe', '4.885878086090088']]

In [45]:
# Since we've deleted colombia list, Nevada index is now 2 
countries.pop(2)

['NEV', 'Nevada', 'North America']

In [46]:
countries

[['PRT', 'Portugal', 'Europe', '10.652320861816406'],
 ['ISL', 'Israel', 'Asia', '7.42595911026001'],
 ['JPN', 'Japan', 'Asia', '128.5518798828125'],
 ['RUS', 'Russia', 'well... which part?', '143.15386962890625'],
 ['DEN', 'Denmark', 'Europe', '5.554843902587891'],
 ['NOR', 'Norway', 'Europe', '4.885878086090088']]

In [47]:
countries.sort(key=lambda x: x[1])
countries

[['DEN', 'Denmark', 'Europe', '5.554843902587891'],
 ['ISL', 'Israel', 'Asia', '7.42595911026001'],
 ['JPN', 'Japan', 'Asia', '128.5518798828125'],
 ['NOR', 'Norway', 'Europe', '4.885878086090088'],
 ['PRT', 'Portugal', 'Europe', '10.652320861816406'],
 ['RUS', 'Russia', 'well... which part?', '143.15386962890625']]

In [48]:
print('The most populated country in the countries list is: ', countries[-1][1])

The most populated country in the countries list is:  Russia

**Q**: Compare the average GDP per capita of the Nations in countries list, with all the countries in the cData file. How they compare?

In [49]:
# we can do something similar to the exercise above 
# Append the GDP values

for i in range(len(countries)):
    for j in range(len(info)):
        if info[j][0] == countries[i][1]:
            countries[i].append(info[j][3])
        
countries

[['DEN', 'Denmark', 'Europe', '5.554843902587891', '43416.22338615916'],
 ['ISL', 'Israel', 'Asia', '7.42595911026001', '28638.9037385305'],
 ['JPN', 'Japan', 'Asia', '128.5518798828125', '36595.63364058582'],
 ['NOR', 'Norway', 'Europe', '4.885878086090088', '73262.68174170727'],
 ['PRT', 'Portugal', 'Europe', '10.652320861816406', '25788.2739652247'],
 ['RUS',
  'Russia',
  'well... which part?',
  '143.15386962890625',
  '21754.067899615977']]

In [50]:
# create a list with the GDP for the countries in the list

GDP_values = []
for i in range(len(countries)):
    GDP_values.append(float(countries[i][-1]))
    
GDP_values

[43416.22338615916,
 28638.9037385305,
 36595.63364058582,
 73262.68174170727,
 25788.2739652247,
 21754.067899615977]

In [51]:
# average GDP for the countries in the list

for x in GDP_values:
    mean_countries_list = sum(GDP_values)/len(GDP_values)
    print(mean_countries_list)
    break

38242.63072863724

In [52]:
# Now we have to compare this value with all the countries in cData

GDP_greater = []
GDP_lower = []
for i in range(len(info)):
    if float(info[i][-1]) > mean_countries_list:
        GDP_greater.append(info[i][0::3])  # add to the list the name of the country and the respective GDP
    else:
        GDP_lower.append(info[i][0::3])

#print(GDP_greater, '\n')
#print(GDP_lower)

In [53]:
GDP_greater.sort(key=lambda x: x[1])
print(GDP_greater, '\n')

GDP_lower.sort(key=lambda x: x[1])
print(GDP_lower)

[('Qatar', '123128.40152283433'), ('Finland', '38394.06158150017'), ('Canada', '40269.03526728651'), ('Sweden', '40421.906436576974'), ('Oman', '40472.674942509126'), ('Austria', '40489.80635849457'), ('Germany', '40627.23054942445'), ('Hong Kong', '41687.946418899235'), ('Saudi Arabia', '42331.65885721999'), ('Denmark', '43416.22338615916'), ('Netherlands', '44004.146024770846'), ('Australia', '44854.90004866657'), ('Ireland', '47823.50815113634'), ('United States', '49500.62628346238'), ('Bermuda', '51447.147481910884'), ('Switzerland', '55688.020214268225'), ('Luxembourg', '57882.81020537233'), ('Singapore', '58618.43503468222'), ('United Arab Emirates', '59707.412565389604'), ('Kuwait', '67029.51680017101'), ('Brunei', '67320.89957245934'), ('Norway', '73262.68174170727'), ('Macau', '91982.39517540816')]

[('Tunisia', '10647.834980284626'), ('Ethiopia', '1100.1831875876223'), ('Macedonia', '11265.643175619889'), ('South Africa', '11388.640515995063'), ('Dominican Republic', '11500.13134401987'), ('Sierra Leone', '1161.8796942144647'), ('Gabon', '11961.168226448879'), ('Costa Rica', '12106.99191566891'), ('Maldives', '12140.803390739566'), ('Togo', '1222.8150529133295'), ('Botswana', '12256.14159052444'), ('Serbia', '12453.482551916944'), ('Thailand', '12496.244186726299'), ('Algeria', '12590.224223813591'), ('Azerbaijan', '12947.102198682365'), ('Burkina Faso', '1327.2165314775982'), ('Brazil', '13541.462561602328'), ('Rwanda', '1379.6993252327009'), ('Guinea-Bissau', '1387.2497310879905'), ('Barbados', '13995.612896540895'), ('Mexico', '14507.011923865603'), ('Madagascar', '1459.9156124535612'), ('Zimbabwe', '1479.0305839163732'), ('Bulgaria', '14906.784964031736'), ('Montenegro', '14960.94855221103'), ('Panama', '15055.237591848218'), ('Mauritius', '15178.325920597827'), ('Montserrat', '15385.002991478228'), ('Argentina', '15841.658208158999'), ('Turkmenistan', '16061.429412691556'), ('Belarus', '16457.02937904922'), ('Haiti', '1650.2697128700804'), ('Romania', '16775.609043478133'), ('Latvia', '16943.688322829523'), ('Antigua and Barbuda', '17162.16102781353'), ('Uganda', '1723.5943355766267'), ('Iran', '17328.457882894658'), ('Guinea', '1742.7346742167783'), ('Saint Kitts and Nevis', '17837.349758162076'), ('Kazakhstan', '17908.83993251286'), ('Malaysia', '17913.164410782432'), ('Turkey', '17930.678781392427'), ('Seychelles', '17960.353075613308'), ('Lebanon', '18025.24893894264'), ('Chile', '18092.94007371081'), ('Lithuania', '18475.371145517096'), ('Mali', '1873.2809618195865'), ('Chad', '1880.3748762799714'), ('Benin', '1919.9969479963038'), ('Croatia', '19305.008088868373'), ('Tanzania', '1979.1718644815185'), ('Nepal', '1996.1961554516242'), ('Estonia', '20265.572596704937'), ('Hungary', '20477.79856764035'), ('Poland', '21006.027309294514'), ('Anguilla', '21098.057152999143'), ('British Virgin Islands', '21183.279165646647'), ('Djibouti', '2124.4420625972525'), ('Russia', '21754.067899615977'), ('Comoros', '2292.997969425929'), ('Malta', '22983.44992639125'), ('Slovakia', '23061.12099058148'), ('Cambodia', '2330.127207632253'), ('Bangladesh', '2411.1020691099325'), ('Lesotho', '2432.7976546880823'), ('CuraÃ§ao', '24337.816177887613'), ('Kenya', '2484.0349094725366'), ('Portugal', '25788.2739652247'), ('Greece', '25815.80076797162'), ('Slovenia', '25831.33128718208'), ('Czech Republic', '26129.56935189834'), ('Gambia', '2681.8586168502143'), ('Cameroon', '2684.972890247272'), ('Senegal', '2741.121456198507'), ('Trinidad and Tobago', '27510.236190041924'), ('Tajikistan', '2784.5145587763627'), ('Cyprus', '28046.373877741087'), ('Israel', '28638.9037385305'), ('Zambia', '2870.8872656342314'), ('Bahamas', '29504.581346144332'), ('Mauritania', '3082.647028528842'), ('New Zealand', '30867.05437525178'), ('Equatorial Guinea', '31416.887137501908'), ('South Korea', '31589.705161145695'), ('Spain', '31610.980157042286'), ('Kyrgyzstan', '3382.4639059259293'), ('Burma', '3422.241340266976'), ('Italy', '34727.67268834705'), ('United Kingdom', '34810.28120173958'), ('France', '35786.16161450548'), ('Sudan', '3608.7856176907358'), ('Japan', '36595.63364058582'), ('Cayman Islands', '36670.678481483985'), ('Bahrain', '37045.81310919623'), ('Aruba', '37059.34143869512'), ('Taiwan', '37188.89452901009'), ('Iceland', '37729.01607603124'), ('Honduras', '3789.9102248753848'), ('Belgium', '38177.94724875522'), ('Ghana', '3931.2918319728856'), ('Nicaragua', '3992.7619078961748'), ('Pakistan', '4171.416562353057'), ('Moldova', '4173.634753274572'), ('Laos', '4316.969858587265'), ('India', '4357.0597360582315'), ('Vietnam', '4428.42140209062'), ('Yemen', '4553.557258443674'), ('Bolivia', '4806.608983377068'), ('Republic of the Congo', '4979.990496069269'), ('Nigeria', '5186.304307542348'), ('Philippines', '5391.233965240031'), ('Cape Verde', '5644.821253339075'), ('Syria', '5700.329438992399'), ('Angola', '5988.534997149481'), ('El Salvador', '6096.958357099287'), ('Democratic Republic of the Congo', '634.9713963013496'), ('Guatemala', '6359.262684615136'), ('Morocco', '6421.937677907418'), ('Uzbekistan', '6574.51672506692'), ('Jamaica', '6675.176956450172'), ('Fiji', '6902.0687720944225'), ('Swaziland', '7042.524359035093'), ('Belize', '7145.952547655193'), ('Turks and Caicos Islands', '7230.966074605446'), ('Bhutan', '7235.18974818538'), ('Burundi', '731.4232803265862'), ('Mongolia', '7670.714034382584'), ('Namibia', '7689.171239820006'), ('Liberia', '786.6702306741524'), ('Georgia', '7966.602756952667'), ('Saint Vincent and the Grenadines', '8095.21923068351'), ('Armenia', '8222.945234202914'), ('Sri Lanka', '8390.429701766443'), ('Niger', '845.8693682212395'), ('Central African Republic', '865.4421867263901'), ('Ukraine', '8713.259627419637'), ('Bosnia and Herzegovina', '9049.364732987471'), ('Dominica', '9101.993729581038'), ('Egypt', '9148.839753298033'), ('Saint Lucia', '9178.266990673521'), ('China', '9337.290772677254'), ('Iraq', '9344.543768350652'), ('Jordan', '9351.387283068141'), ('Albania', '9544.73991912729'), ('Mozambique', '969.2307622526259'), ('Malawi', '972.0456815116237'), ('Grenada', '9791.291133092265')]

In [54]:
# Comparison

print('There are ', len(GDP_greater), 'that have GDP per capita higher than the average of the Nations in the list.'
     ' In contrast, there are ', len(GDP_lower), 'countries with a lower GDP per capita.', '\n', 'This difference means that ',
     'some countries are more prosperous than others, that is, they are able to generate more wealth.' )

print('\n', 'The country with a higher GDP per capita is: ', GDP_greater[-1][0])
print('\n', 'The country with a lower GDP per capita is: ', GDP_lower[0][0])

There are  23 that have GDP per capita higher than the average of the Nations in the list. In contrast, there are  147 countries with a lower GDP per capita.
 This difference means that  some countries are more prosperous than others, that is, they are able to generate more wealth.

 The country with a higher GDP per capita is:  Macau

 The country with a lower GDP per capita is:  Tunisia

# <span style="color:brown"> Part 3 - Functions hurt nobody </span>

## Exercise I - I hate math

Consider the following equation:

\begin{equation}
    y = 6x^2 + 3x + 2
\end{equation}

**Q**: write a function (called f) that takes one argument, x, and returns y according to the equation above. <br> Call the function for x = 2 and print the answer.

In [55]:
def f(x):
    y = 6*x**2 + 3*x + 2 
    return y

f(2)

32

Consider a sequence $x_n$ of numbers, defined as follows:

$
\begin{align}
    ~~~ ~~~ ~~~ ~~&x_0 = 0; ~~~ ~~~ ~~~ ~~ ~~~ ~~~ ~~~ ~~ ~~~ ~~~ ~~~ ~~ ~~~ ~~~ ~~ ~ \\
    ~~~ ~~~ ~~~ ~~&x_{n} = x_{n-1} - n; ~~~ \textit{ if} ~~~ x_{n-1}-n > 0 \textit{ and not already in the sequence} \\
    ~~~ ~~~ ~~~ ~~&x_{n} = x_{n-1} + n; ~~~ \textit{ otherwise}~~~ ~~~ ~~~ ~~ \\
\end{align}
$

**Q**: Write a function that returns the nth digit of the above defined sequence. <br>
Note: the above sequence is also known as the Recamán's sequence, and it was invnted by Bernardo Recamán Santos (Bogotá, Colombia)

In [56]:
# First, we have to create a set to store the recaman's sequence. The first element is always 0.
# 

def recamans_seq(n):
    rec = []
    
    # if the n given is 0, returns the first element which is 0
    if n == 0:
        return 0
    
    # if the n given isn't 0, prints the corresponding term using formula
    
    elif (recamans_seq(n-1) - 1) > 0 and (recamans_seq(n-1) - 1) not in rec:
        return (recamans_seq(n - 1) - 1) 
        rec.append(recamans_seq(n))
    
    else:
        return recamans_seq(n-1) + 1
        
      

    return recamans_seq(n)

In [57]:
recamans_seq(8)

2

## Exercise II - Role Playing with Python

**Q**: Create a function named randomNr that takes a number (e.g., m) as an argument and returns a random number from 1 to m.

In [1]:
import random
def randomNr(m):
    return  random.randint(1,m)
    #print("The random number is", random.randint(1,m))

randomNr(5)

5

**Q**: Create a function named keyReturner that takes a number (n) and a dictionary (s) as arguments and returns n random keys from s.

In [2]:
#First we have to creat a empty list to save the dictionary keys.
#Then we use random.sample to extract n random keys from the list of keys

def keyReturner(n,s):
    keys = list(s.keys())
    return random.sample(keys, n)

**Q**: Create a function named boolGen that takes a number (p) as argument and returns True with probability p, else it returns False.

**NOTE:** Your function needs to consider if p is a number from 0 to 1 (and hence is the probability itself) or if p is between 0 to 100 (and hence is in percentage and needs to be changed to a probability). If the value inserted is inferior to 0 or bigger than 100 the function should assume p to be 0.5

**To clarify**
If p is 0.45 we will have a 45% chance to return True. If p is 55, it needs to be converted to 0.55 (having the same meaning as previously stated: 55% chance of returning true)

In [3]:
def boolGen(p):
    
    # p is a number between 0 and 1
    if 0 <= p <= 1:
        d = random.random()
        if d < p:
            return True
        else:
            return False
        
    # p is a number between 0 and 100
    elif 0 <= p <= 100:
        d = random.random()
        if d < p/100:
            return True
        else:
            return False
        
    # p is a number inferior to 0 or bigger than 100
    else:
        d = random.random()
        if d < 0.5:
            return True
        else:
            return False

**Q**: Create a function named applyDiscount that receives a number (v) and a boolean (b) as arguments. If b is true then the function should apply a discount of 15% to the number, and return it. Otherwise it should return the number as is.

In [4]:
#we aply 15% of discount, so we want the rest 85% of the price
def applyDiscount(v, b):
    if b is True:
        price = (v * 0.85)
    else:
        price = v
    return price

**Q**: Create a function called customerSim. This function takes as an input two dictionaries (stock and prices). <br>
Then it should perform the following steps:
1. **Call randomNr** to generate a number between 1 and the maximum number of videogames available in the store's stock (this number will represent the number of videogames that will be purchased);
2. **Call keyReturner**, passing the number of videogames that will be purchased obtained from 1. and the stock dictionary, in order to determine what are the codes of the videogames to be purchased;
3. **Call applyDiscount** to each value in the customer order and combined with the boolGen, decide whether you apply a discount or not to each item;
5. **Print the following message** "Dear customer, your order of Y items has a total cost of X euros, and a 15% discount was applied to W items.", replacing X,Y, W with the respective values.
6. **Return a tuple** with the number of items ordered, total cost, and the total discount applied.

- Run the function customerSim to simulate the orders of 10 clients.

In [5]:
def customerSim(stock,prices):
    
    #number of videogames using funtion random_nr
    nmbr_videogames = randomNr(len(stock.keys()))
    
    #codes of the videogames to be purchased 
    videogames_codes = keyReturner(nmbr_videogames, stock)
    
    #creat 3 variables to save the number of items with discount
    #the cost and the discount
    nmb_items_discount = 0
    cost = 0 
    discount = 0 
    
    #loop to find if it's a discount, using a applyDiscount
    for i in prices:
        if i in videogames_codes:
            if boolGen(0.5) == False:
                actual_price = prices[i]
            else: 
                actual_price = applyDiscount(prices.get(i), boolGen(0.5))
                
        cost += actual_price
        cost_2 = round(cost, 2)

        #confirm if there is a discount
        if actual_price != prices.get(i):
            nmb_items_discount += 1
            discount += prices.get(i) - actual_price #to find the value of the discount


    print("Dear customer, your order of", nmbr_videogames, "items has a total cost of", cost_2, "euros, and a 15% discount was applied to", nmb_items_discount, " items.")
    
    final_tuple = tuple([nmb_items_discount,cost,discount]) 
    print(final_tuple)

In [6]:
stock = {
    
    "234":"God of War",
    "956":"Call of Duty: Modern Warfare 2",
    "365":"Final Fantasy IX",
    "827":"BioShock Infinite",
    "106":"World of Goo",
    "465":"Metal Gear Solid V: The Phantom Pain",
    "622":"Portal 2",
    "266":"The Last of Us",
    "534":"The Legend of Zelda: Majora's Mask",
    "884":"Halo 2",
    "472":"Red Dead Redemption",
    "123":"Grand Theft Auto: San Andreas"
    
}

prices = {
    
    "234":49.99,
    "956":35.0,
    "365":68.99,
    "827":20.99,
    "106":2.50,
    "465":49.99,
    "622":19.99,
    "266":19.99,
    "534":5.99,
    "884":9.99,
    "472":19.99,
    "123":24.99
    
}

In [7]:
#Call your function here :)
customerSim(stock,prices)

Dear customer, your order of 11 items has a total cost of 263.52 euros, and a 15% discount was applied to 6  items.
(6, 263.5175, 64.8825)

## Exercise III - Map and Filter

#### You can go to the documentation on: https://book.pythontips.com/en/latest/map_filter.html

**Q**: Consider the list A declared below. Use the function map() to change the values in A by adding 1 to each value if it is even and subtracting 1 to it otherwise.

In [2]:
A = [460,3347,3044,490,699,1258,1804,973,2223,3416,2879,1058,2915,2422,351,1543,1020,208,643,795,3337,2585,471,2623,1077]

In [3]:
print(list(map(lambda x: x+1 if x% 2 == 0 else x-1,A)))

[461, 3346, 3045, 491, 698, 1259, 1805, 972, 2222, 3417, 2878, 1059, 2914, 2423, 350, 1542, 1021, 209, 642, 794, 3336, 2584, 470, 2622, 1076]

**Q:** Create a list B with the same size of A, and where each element is True if the associated value in list A is greater than 700, else is False. <br>
Note: You should use the function map()

In [4]:
B = list(map(lambda x:x  > 700, A))
print(B)

[False, True, True, False, False, True, True, True, True, True, True, True, True, True, False, True, True, False, False, True, True, True, False, True, True]

**Q**: Create a list L that contains the Logarithm of base 10 of each value in A. <br>
Note: You should use the module math to compute the logarithm.

In [5]:
import math

#creat an empty list and we append the log of each value of A. We use the math module
L = []

for i in range(len(A)):
    L.append(math.log10(A[i]))

print(L)

[2.662757831681574, 3.5246557123577773, 3.4834446480985353, 2.690196080028514, 2.8444771757456815, 3.09968064110925, 3.256236533205923, 2.988112840268352, 3.3469394626989906, 3.5335178620169674, 3.459241664878082, 3.024485667699167, 3.464638559095033, 3.3841741388070337, 2.545307116465824, 3.188365926063148, 3.0086001717619175, 2.3180633349627615, 2.808210972924222, 2.9003671286564705, 3.5233562066547925, 3.412460547429961, 2.673020907128896, 3.4187982905903533, 3.0322157032979815]

**Q**: How many numbers in A are greater than 1000? <br>
Note: You should use the function filter()

In [6]:
greater = list(filter(lambda x: x > 1000, A))

len(greater)

16

Congratulations, it is done! <br>
**Don't forget, if you have any questions related with the homework assignment leave a post in the Moodle Forum.**